# Data Gathering

Kita akan mengambil data dari Kaggle, dibutuhkan API. Silahkan unduh library Kaggle terlebih dahulu.

In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
Requirement already satisfied: six>=1.10 in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from kaggle) (1.16.0)

WARNING: You are using pip version 21.1.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\users\ribka\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: certifi in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-dateutil in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from kaggle) (2.27.1)
Collecting tqdm
  Downloading tqdm-4.62.3-py2.py3-none-any.whl (76 kB)
Collecting python-slugify
  Downloading python_slugify-6.0.1-py2.py3-none-any.whl (9.0 kB)
Requirement already satisfied: urllib3 in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from kaggle) (1.26.8)
Collecting text-unidecode>=1.3
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from requests->kaggle) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: colorama in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from tqdm->kaggle) (0.4.4)
Using legacy 'setup.py install' for kaggle, since package 'wheel' is not installed.
Installing collected packages: text-unidecode, tqdm, python-slugify, kaggle
    Running setup.py install for kaggle: started
    Running setup.py install for kaggle: finished with status 'done'
Successfully installed kaggle-1.5.12 python-slugify-6.0.1 text-unidecode-1.3 tqdm-4.62.3

Selanjutnya kita akan unduh dataset dari Kaggle

In [7]:
!kaggle datasets download shreyanshkhandelwal/goal-dataset-top-5-european-leagues

Downloading goal-dataset-top-5-european-leagues.zip to C:\Users\ribka\Desktop\Metdata-Science\metdata-science\Pertemuan 5

  0%|          | 0.00/174k [00:00<?, ?B/s]
100%|##########| 174k/174k [00:00<00:00, 1.71MB/s]
100%|##########| 174k/174k [00:00<00:00, 1.69MB/s]

In [9]:
!kaggle datasets list -s "goal leagues"

ref                                                      title                                   size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------  -------------------------------------  -----  -------------------  -------------  ---------  ---------------
shreyanshkhandelwal/goal-dataset-top-5-european-leagues  Goal Dataset - Top 5 European Leagues  174KB  2021-05-23 21:20:09           1922         11  0.5294118

Selanjutnya kita akan mencoba telaah data yang telah diunduh

In [11]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.4.1-cp39-cp39-win_amd64.whl (10.5 MB)
Collecting numpy>=1.18.5
  Downloading numpy-1.22.2-cp39-cp39-win_amd64.whl (14.7 MB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\ribka\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.22.2 pandas-1.4.1

WARNING: You are using pip version 21.1.3; however, version 22.0.3 is available.
You should consider upgrading via the 'c:\users\ribka\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [25]:
import pandas as pd 
path = "epl-goalScorer(20-21).csv"
df = pd.read_csv(path)
df

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [28]:
df.head(10)

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
5,5,5555,Dominic Calvert-Lewin,32,2788,16,18.136449,0,2.101819,82,18,3,0,F S,Everton,16,18.136449,19.698850,4.159406
6,6,755,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
7,7,8865,Ollie Watkins,37,3330,14,16.280178,5,5.314029,98,45,2,1,F,Aston Villa,13,14.757840,22.014021,5.334991
8,8,314,Ilkay Gündogan,28,2033,13,9.566883,2,3.816220,54,42,1,0,M S,Manchester City,12,8.044545,19.286812,10.148375
9,9,3277,Alexandre Lacazette,30,1928,13,12.028909,2,2.209213,45,22,3,0,F M S,Arsenal,10,9.745403,14.361542,2.937941

In [29]:
df.tail()

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.0,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.0,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.0,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.0,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.0,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [30]:
df.dtypes

Unnamed: 0        int64
id                int64
player_name      object
games             int64
time              int64
goals             int64
xG              float64
assists           int64
xA              float64
shots             int64
key_passes        int64
yellow_cards      int64
red_cards         int64
position         object
team_title       object
npg               int64
npxG            float64
xGChain         float64
xGBuildup       float64
dtype: object

In [31]:
type(df.dtypes)

pandas.core.series.Series

In [33]:
len(df.dtypes)

19

In [34]:
df

,Unnamed: 0,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,0,647,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,1,1250,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,2,1228,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,3,453,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,4,822,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,517,9415,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,518,9423,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,519,9524,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,520,9540,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,521,9552,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [35]:
df_tanpaid = df.iloc[:,2:]
df_tanpaid

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,Jaden Philogene-Bidace,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Aston Villa,0,0.000000,0.056044,0.056044
518,Gaetano Berardi,2,113,0,0.074761,0,0.000000,1,0,0,0,D S,Leeds,0,0.074761,0.231278,0.231278
519,Anthony Elanga,1,67,0,0.000000,0,0.000000,0,0,0,0,M,Manchester United,0,0.000000,0.000000,0.000000
520,Femi Seriki,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Sheffield United,0,0.000000,0.000000,0.000000
521,Tyrese Francois,1,13,0,0.000000,0,0.000000,0,0,0,0,S,Fulham,0,0.000000,0.000000,0.000000

In [48]:
df_rapi = df_tanpaid.sort_values(by="player_name",ascending=True)
df_rapi.head(15)

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
154,Aaron Connolly,16,755,2,4.412464,1,0.149897,22,5,0,0,F M S,Brighton,2,4.412464,4.720931,0.191225
281,Aaron Cresswell,35,3086,0,0.883464,8,7.347331,19,57,3,0,D,West Ham,0,0.883464,10.609667,8.381824
390,Aaron Ramsdale,37,3330,0,0.000000,0,0.053571,0,1,1,0,GK,Sheffield United,0,0.000000,2.794618,2.741047
139,Aaron Wan-Bissaka,34,3060,2,0.932454,4,2.547663,7,31,3,0,D,Manchester United,2,0.932454,12.242123,9.676275
126,Abdoulaye Doucouré,28,2409,2,2.369523,3,2.381616,18,20,6,0,M,Everton,2,2.369523,10.355722,6.733990
380,Aboubakar Kamara,11,303,0,0.654920,0,0.328969,4,6,1,1,F M S,Fulham,0,0.654920,1.103215,0.182326
163,Adam Lallana,29,1528,1,1.614306,1,2.628758,22,25,0,0,F M S,Brighton,1,1.614306,9.719970,5.874305
242,Adam Webster,28,2506,1,1.272957,0,0.253216,25,5,4,0,D,Brighton,1,1.272957,7.623944,7.481681
119,Adama Traoré,36,2604,2,1.995262,2,5.228081,41,54,4,0,D F M S,Wolverhampton Wanderers,2,1.995262,9.373142,3.006398
75,Ademola Lookman,34,2765,4,6.251116,4,5.258407,69,61,5,0,F M S,Fulham,4,5.489947,15.355220,7.334159
278,Adrián,3,270,0,0.000000,0,0.000000,0,0,0,0,GK,Liverpool,0,0.000000,0.397439,0.397439
345,Ahmed Elmohamady,14,823,0,0.341273,0,0.989466,9,13,2,0,D S,Aston Villa,0,0.341273,2.426968,1.610212
377,Ahmed Hegazy,1,90,0,0.000000,0,0.000000,0,0,0,0,D,West Bromwich Albion,0,0.000000,0.184028,0.184028
355,Ainsley Maitland-Niles,26,1719,0,0.796191,0,0.821991,12,6,2,0,D M S,"Arsenal,West Bromwich Albion",0,0.796191,5.968474,5.051884
88,Aleksandar Mitrovic,27,1369,3,5.677363,3,2.924711,59,23,3,0,F S,Fulham,2,4.155025,7.808299,1.849482

In [49]:
df_rapi.describe()

,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,npg,npxG,xGChain,xGBuildup
count,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000
mean,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,1.668582,1.821450,5.663368,3.455060
std,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,2.909929,2.931176,5.600249,3.376584
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,0.000000,0.074668,1.191391,0.720353
50%,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,0.500000,0.715585,4.252738,2.656397
75%,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,2.000000,1.945799,8.308002,5.254647
max,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,19.000000,19.130183,28.968234,18.323006

In [50]:
df_rapi.describe(include='all')

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
count,522,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522,522,522.000000,522.000000,522.000000,522.000000
unique,522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,28,NaN,NaN,NaN,NaN
top,Aaron Connolly,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M S,Everton,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,28,NaN,NaN,NaN,NaN
mean,NaN,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,NaN,NaN,1.668582,1.821450,5.663368,3.455060
std,NaN,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,NaN,NaN,2.909929,2.931176,5.600249,3.376584
min,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,NaN,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,NaN,NaN,0.000000,0.074668,1.191391,0.720353
50%,NaN,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,NaN,NaN,0.500000,0.715585,4.252738,2.656397
75%,NaN,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,NaN,NaN,2.000000,1.945799,8.308002,5.254647
max,NaN,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,NaN,NaN,19.000000,19.130183,28.968234,18.323006

In [51]:
df_tanpaid.describe(include='all')

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
count,522,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522.000000,522,522,522.000000,522.000000,522.000000,522.000000
unique,522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,28,NaN,NaN,NaN,NaN
top,Harry Kane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M S,Everton,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106,28,NaN,NaN,NaN,NaN
mean,NaN,19.643678,1420.068966,1.862069,2.000806,1.289272,1.376029,17.379310,12.963602,2.061303,0.091954,NaN,NaN,1.668582,1.821450,5.663368,3.455060
std,NaN,11.619836,1031.604819,3.338851,3.317946,2.083350,1.886510,21.572664,16.164361,2.203661,0.295800,NaN,NaN,2.909929,2.931176,5.600249,3.376584
min,NaN,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,NaN,10.000000,470.250000,0.000000,0.074668,0.000000,0.049245,2.000000,1.000000,0.000000,0.000000,NaN,NaN,0.000000,0.074668,1.191391,0.720353
50%,NaN,21.000000,1342.000000,1.000000,0.737295,0.000000,0.691122,10.000000,7.000000,2.000000,0.000000,NaN,NaN,0.500000,0.715585,4.252738,2.656397
75%,NaN,30.000000,2319.000000,2.000000,2.053378,2.000000,2.050509,23.750000,19.000000,3.000000,0.000000,NaN,NaN,2.000000,1.945799,8.308002,5.254647
max,NaN,38.000000,3420.000000,23.000000,22.174859,14.000000,11.474996,138.000000,95.000000,12.000000,2.000000,NaN,NaN,19.000000,19.130183,28.968234,18.323006

In [52]:
df_rapi = df_tanpaid.sort_values(by="assists",ascending=False)
df_rapi.head(15)

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,Harry Kane,35,3097,23,22.174859,14,7.577094,138,49,1,0,F,Tottenham,19,19.130183,24.995648,4.451257
2,Bruno Fernandes,37,3117,18,16.019454,12,11.474996,121,95,6,0,M S,Manchester United,9,8.407840,26.911412,11.932285
58,Kevin De Bruyne,24,1918,5,9.908440,11,10.003763,79,72,1,0,M S,Manchester City,3,7.624933,21.079132,10.636448
3,Son Heung-Min,37,3139,17,11.023287,10,9.512992,68,75,0,0,F M S,Tottenham,16,10.262118,20.671916,6.608751
51,Jack Grealish,26,2187,6,5.192684,10,9.334137,50,81,5,0,F M S,Aston Villa,6,5.192684,17.487469,6.972044
15,Marcus Rashford,37,2941,11,9.579710,9,4.185122,79,44,4,0,F M S,Manchester United,11,9.579710,20.441910,8.927208
6,Jamie Vardy,34,2848,15,19.942946,9,5.087882,82,28,1,0,F S,Leicester,7,13.092427,18.227907,2.412588
57,Raphinha,30,2369,6,6.219143,9,9.524861,67,65,3,0,M S,Leeds,6,6.219143,16.792778,6.679692
49,Timo Werner,35,2605,6,13.432796,8,6.667277,80,36,2,0,F M S,Chelsea,6,13.432796,20.533463,5.242122
281,Aaron Cresswell,35,3086,0,0.883464,8,7.347331,19,57,3,0,D,West Ham,0,0.883464,10.609667,8.381824
83,Pascal Groß,33,2379,3,5.010526,8,5.368290,32,69,3,0,D M S,Brighton,0,1.965887,10.404419,6.732295
41,Jack Harrison,36,2871,8,6.254043,8,7.523059,46,59,2,0,M S,Leeds,8,6.254043,19.397490,8.035575
32,James Ward-Prowse,37,3330,8,5.427161,7,3.956646,42,57,5,0,D M,Southampton,5,2.382486,10.150620,8.928799
26,Roberto Firmino,36,2882,9,12.860213,7,6.116863,83,44,2,0,F M S,Liverpool,9,12.860213,25.271458,10.198550
16,Sadio Mané,35,2805,11,14.828548,7,7.787755,94,61,3,0,F M S,Liverpool,11,14.828548,24.998923,6.057656

In [54]:
df_rapi = df_tanpaid.sort_values(by="games",ascending=False)
df_rapi.head(15)

,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
204,Andrew Robertson,38,3391,1,1.437934,7,7.220492,19,65,2,0,D,Liverpool,1,1.437934,19.869482,15.435009
480,Luke Ayling,38,3400,0,1.439750,0,2.988854,24,26,7,0,D M,Leeds,0,1.439750,14.196262,11.884364
327,Matt Targett,38,3407,0,0.280304,2,2.799669,6,39,7,0,D,Aston Villa,0,0.280304,9.610859,8.203313
116,Georginio Wijnaldum,38,2961,2,2.817427,0,1.662922,31,21,1,0,M S,Liverpool,2,2.817427,13.922182,10.476277
4,Patrick Bamford,38,3085,17,18.401863,7,3.782247,107,30,3,0,F S,Leeds,15,16.879525,23.394953,4.131796
311,Kasper Schmeichel,38,3420,0,0.000000,0,0.000000,0,0,0,0,GK,Leicester,0,0.000000,3.868818,3.868818
55,Youri Tielemans,38,3359,6,4.168204,4,3.312251,48,49,6,0,M S,Leicester,4,2.645866,18.975342,14.945469
40,Stuart Dallas,38,3412,8,4.457074,2,2.084683,48,26,7,0,D M,Leeds,8,4.457074,18.534344,13.809802
296,Hugo Lloris,38,3420,0,0.000000,0,0.000000,0,0,0,0,GK,Tottenham,0,0.000000,4.801015,4.801015
378,Emiliano Martinez,38,3420,0,0.000000,0,0.122923,0,2,1,0,GK,Aston Villa,0,0.000000,3.730909,3.607986
110,Pierre-Emile Højbjerg,38,3420,2,1.137927,4,1.755895,14,16,9,0,M,Tottenham,2,1.137927,16.205809,14.680379
1,Mohamed Salah,37,3085,22,20.250847,5,6.528526,126,55,0,0,F M S,Liverpool,16,15.683834,28.968234,9.800236
106,John McGinn,37,3330,3,2.166595,5,3.501758,45,42,12,0,M,Aston Villa,3,2.166595,14.868267,9.945619
25,Tomas Soucek,37,3330,10,8.936490,1,2.329664,63,17,7,1,M,West Ham,10,8.936490,16.730340,8.610449
87,Ashley Westwood,37,3322,3,1.005990,3,6.352089,19,49,7,0,M,Burnley,3,1.005990,10.010638,6.287275

In [56]:
df_rapi[['goals','games','assists','shots']].mean()

goals       1.862069
games      19.643678
assists     1.289272
shots      17.379310
dtype: float64

In [57]:
df_rapi[['goals','games','assists','shots']].median()

goals       1.0
games      21.0
assists     0.0
shots      10.0
dtype: float64

In [60]:
df_rapi[['team_title']].mode()

             team_title
0               Everton
1  West Bromwich Albion